@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: var(--font-averta);
}
.color-grade {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.87) 87%
  );
}

.vision-white {
  @apply lg:bg-white bg-inherit;
}
.key-numbers-order {
  @apply order-3 md:order-4;
}
.key-numbers-order2 {
  @apply order-4 md:order-3;
}

@keyframes auto-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-auto-scroll {
  display: inline-flex;
  animation: auto-scroll 30s linear infinite;
}
/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
